<div class="chart-wrapper" id="chart-wrapper:<%= jurisdictionDef.id %>">
    <h3><%= jurisdictionDef.name%>, <%= jurisdictionDef.countryName %></h3>
    <img class="chart-img" id="chart-img:<%= jurisdictionDef.id %>" alt="chart for <%= jurisdictionDef.name%>, <%= jurisdictionDef.countryName %>" src="<%= jurisdictionDef.imgSrc %>" />
</div>